{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Sports League{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body style="background-color: #f5f5f5; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <nav style="background-color: #333; color: #fff; padding: 10px;">
      <div class="container">
          <a href="{% url 'match_list' %}" class="nav_item">Matches</a>
          <a href="{% url 'upload_match_data' %}" class="nav_item nav_item_left">Upload Match CSV Data</a>
          <a href="{% url 'match_ranking' %}" class="nav_item nav_item_left">Ranking</a>
          {% if user.is_authenticated %}
              <div class="nav_item nav_item_right">
                {{ user.username }}
                <a class="logout-btn" href="{% url 'logout' %}">Logout</a>
              </div>
          {% else %}
              <a  class="nav_item nav_item_right" href="{% url 'login' %}">Login</a>
          {% endif %}
      </div>
  </nav>

  <div class="container" style="padding: 20px;">
      {% block content %}{% endblock %}
  </div>

</body>
</html>